.wrapper{
	position: relative;
	z-index: 2;
	overflow: hidden;
	height: 100%;
	background: $black;
	&.active{
		min-height: 100%;
		height: initial;
	}
}

.body-lock{
	position: relative;
    overflow: hidden;
}

.container{
	max-width: 1680px;
	padding: 0px 64px;
	margin: 0px auto;
    box-sizing: content-box;
	position: relative;
	z-index: 2;
	&.container-mod{
		@media (max-width: 767px) {
			padding: 0px 8px;
		}
	}
	@media (max-width: 1024px) {
		padding: 0px 24px;
	}
}

.root{ 
	padding: 101px 0 0 0;
	@media (max-width: 1024px) {
		padding: 85px 0 0 0;
	}
}

.link{
	font-size: 18px;
	line-height: 150%;
	font-weight: 700;
	a{
		color: $white;
		transition: 300ms;
	}
	@media(min-width: 1025px){
		&:hover{
			a{
				color: $orange;
			}
		}
	}
}

.list{
	display: flex;
	justify-content: space-between;
	max-width: 312px;
	width: 100%;
}

.logo {
	width: 107px;
	height: 69px;
	a{
		display: block;
		width: 100%;
		height: 100%;
	}
	svg{
		width: 107px;
		height: 69px;
		fill: $white;
	}
	@media (max-width: 1024px) {
		height: 47px;
		width: 72px;
		svg{
			width: 72px;
			height: 47px;
		}
	}
}

.btn{
	a{
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		line-height: 17px;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;
		color: $white;
		border-radius: 99px;
		min-height: 56px;
		padding: 0 58px;
		letter-spacing: 0.03em;
		span{
			position: relative;
			z-index: 2;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 99px;
			background: $bg-cta;
		}
		&:after{
			content: '';
			position: absolute;
			opacity: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 99px;
			background: $bg-cta-orange;
			transition: 300ms;
		}
		@media (min-width: 1025px) {
			&:hover{
				&:after{
					opacity: 1;
				}
			}
		}
	}
}

.preloader {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100vw;
	height: 100vh;
	background: $black;
	&__logo {
		position: relative;
		height: 39px;
	}

	&__title {
		position: relative;
		overflow: hidden;
		height: 39px;
		animation-name: hide-logo;
		animation-duration: 2.5s;
		animation-timing-function: linear;
		animation-delay: 500ms;
		animation-fill-mode: forwards;
		@keyframes hide-logo {
			0%{
				opacity: 1;
			}
			90%{
				opacity: 1;
			}
			100%{
				opacity: 0;
			}
	}
		svg{
			width: 76px;
			height: 39px;
			fill: $white;
		}
		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: $black;
			animation-name: show-logo;
			animation-duration: 500ms;
			animation-timing-function: linear;
			animation-delay: 1700ms;
			animation-fill-mode: forwards;
			@keyframes show-logo {
				0%{
					height: 100%;
				}
				100%{
					height: 0;
				}
		}
	}
	}
	&__square {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 25px;
		background: $white;
		opacity: 0;
		animation-name: show-squere;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
		@keyframes show-squere {
			0%{
				opacity: 0;
			}
			50%{
				opacity: 1;
				top: 0;
			}
			70%{
				top: 43px;
				opacity: 1;
			}
			90%{
				top: 43px;
				opacity: 1;
			}
			100%{
				top: 0;
			}
		}
	}
}

.gradient-circle{
	position: absolute;
	border-radius: 50%;
	width: 240px;
	height: 240px;
	background: $bg-circle;
}

.title{
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	&__title-block{
		overflow: hidden;
		p{
			transition: 1s ease-in-out;
			white-space: nowrap;
			transform: translateY(-100%);
			span{
                color: $orange;
            }
		}
	}
	&.active{
		.title{
			&__title-block{
				p{
					transform: translateY(0);
				}
				&:nth-child(2){
					p{
						transition-delay: 100ms;
					}
				}
				&:nth-child(3){
					p{
						transition-delay: 200ms;
					}
				}
			}
		}
	}
}

.text-mod{
	transform: translateY(-20px);
	opacity: 0;
	transition: 2s;
	h4{
		color: $white;
		margin: 0 0 24px 0;
	}
	p{
		margin: 0 0 15px 0;
		&:last-child{
			margin: 0;
		}
		color: $grey-600;
		span{
			color: $white;
			font-weight: 700;
		}
	}
}

.title-mod{
	.title{
        &__title-block {
            overflow: hidden;
            color: $white;
            span{
                color: $orange;
            }
            p{
                transform: translateY(-100%);
            }
        }
    }
}

.mobile-list {
	display: none;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: $black;
	transform: translateY(-100%);
	transition: 500ms ease-in-out;
	&.active{
		transform: translateY(0);
	}

	&__link {
		margin: 0 0 40px 0;
		&:last-child{
			margin: 0;
		}
		a{
			font-size: 36px;
			line-height: 120%;
			font-weight: 700;
			color: $white;
		}
	}
	@media(max-width: 1024px){
		display: flex;
	}
}
