.wrapper{
	position: relative;
	z-index: 2;
	overflow: hidden;
	min-height: 100%;
	background: $black;
}

.container{
	max-width: 1680px;
	padding: 0px 64px;
	margin: 0px auto;
    box-sizing: content-box;
	position: relative;
	z-index: 2;
}

.root{ 
	padding: 101px 0 0 0;
}

.link{
	font-size: 18px;
	line-height: 150%;
	font-weight: 700;
	a{
		color: $white;
		transition: 300ms;
	}
	&:hover{
		a{
			color: $orange;
		}
	}
}

.list{
	display: flex;
	justify-content: space-between;
	max-width: 312px;
	width: 100%;
}

.logo {
	svg{
		width: 107px;
		height: 69px;
		fill: $white;
	}
}

.btn{
	a{
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		line-height: 17px;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;
		color: $white;
		border-radius: 99px;
		min-height: 56px;
		padding: 0 58px;
		letter-spacing: 0.03em;
		span{
			position: relative;
			z-index: 2;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 99px;
			background: $bg-cta;
		}
		&:after{
			content: '';
			position: absolute;
			opacity: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 99px;
			background: $bg-cta-orange;
			transition: 300ms;
		}
		&:hover{
			&:after{
				opacity: 1;
			}
		}
	}
}

.preloader {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100vw;
	height: 100vh;
	&__logo {
		position: relative;
		height: 39px;
	}

	&__title {
		position: relative;
		overflow: hidden;
		height: 39px;
		animation-name: hide-logo;
		animation-duration: 3.5s;
		animation-timing-function: linear;
		animation-delay: 500ms;
		animation-fill-mode: forwards;
		@keyframes hide-logo {
			0%{
				opacity: 1;
			}
			90%{
				opacity: 1;
			}
			100%{
				opacity: 0;
			}
	}
		svg{
			width: 76px;
			height: 39px;
			fill: $white;
		}
		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: $black;
			animation-name: show-logo;
			animation-duration: 1.7s;
			animation-timing-function: linear;
			animation-delay: 2.3s;
			animation-fill-mode: forwards;
			@keyframes show-logo {
				0%{
					height: 100%;
				}
				30%{
					height: 0;
				}
				100%{
					height: 0;
				}
		}
	}
	}
	&__square {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 25px;
		background: $white;
		opacity: 0;
		animation-name: show-squere;
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
		@keyframes show-squere {
			0%{
				opacity: 0;
			}
			50%{
				opacity: 1;
				top: 0;
			}
			70%{
				top: 43px;
				opacity: 1;
			}
			90%{
				top: 43px;
				opacity: 1;
			}
			100%{
				top: 0;
			}
		}
	}
}
