.footer {
    position: relative;
    z-index: 8;
    padding: 50px 0;
    border-top: 1px solid $grey-800;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s ease-in-out;
    &.active{
        transform: translateY(0);
        opacity: 1;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__contacts {
        color: $grey-600;
        font-size: 17px;
        line-height: 160%;
        font-weight: 300;
        text-align: right;
        margin: 10px 0 0 0;
    }

    &__list{
        margin: 0 0 0 134px;
    }
    @media(max-width: 1023px){
        padding: 40px 0;
        &__content{
            flex-direction: column;
            align-items: flex-start;
        }
        &__logo{
            margin: 0 0 40px 0;
        }
        &__list{
            max-width: 100%;
            margin: 0 0 40px 0;
        }
        &__contacts{
            text-align: left;
            margin: 0;
        }
    }
    @media(max-width: 424px){
        &__link{
            font-size: 15px;
        }
        &__contacts{
            font-size: 12px;
        }
    }
}
