.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    background: $black;
    padding: 32px 0 16px 0;
    transition: 300ms;
    &.active{
        animation: slide-up 1s linear forwards;
        @keyframes slide-up{
            0%{
                transform: translateY(-100%);
            }
            50%{
                transform: translateY(-100%);
            }
            100%{
                transform: translateY(0);
            }
        }
    }
    &.scroll-page{
        padding: 16px 0 16px 0;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


