.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    animation: slide-up 1s cubic-bezier(0.65, 0, 0.35, 1);
    @keyframes slide-up{
        0%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(0);
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 32px 0 0 0;
    }
}


