.par{
    p{
        font-size: 17px;
        line-height: 160%;
        font-weight: 400;
        color: $grey-600;
    }
}
.h1{
    font-size: 64px;
    line-height: 120%;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
}

.h2{
    h2{
        font-size: 48px;
        line-height: 120%;
        font-weight: 700;
        color: $black;
        text-transform: uppercase;
    }
}

.h3{
    h3{
        font-size: 36px;
        line-height: 120%;
        font-weight: 700;
        color: $black;
    }
}