.par{
    p{
        font-size: 17px;
        line-height: 160%;
        font-weight: 400;
        color: $grey-600;
    }
}
.h1{
    font-size: 64px;
    line-height: 120%;
    font-weight: 700;
    color: $white;
}