$fontfamily:"Heebo", sans-serif;
$minwidth:320px;
/* colors */
$black:#191919;
$white:#FFFFFF;
$orange: #F57A17;
$grey-600: #C9CACA;
$grey-800: #585857;
$grey-circle: #282520;
/* gradients */
$bg-cta: linear-gradient(90deg, #F47917 0%, #2A3F8F 100%);
$bg-cta-orange: linear-gradient(90deg, #E6DE21 0%, #F57917 100%), linear-gradient(90deg, #F47917 0%, #2A3F8F 100%), linear-gradient(0deg, #009552, #009552), #009552;
$bg-secondary: linear-gradient(90deg, #E6DE21 0%, #F57917 100%);
$bg-circle: radial-gradient(50% 50% at 50% 50%, rgba(245, 122, 23, 0.1) 0%, rgba(245, 122, 23, 0) 100%);