.block-1 {
    margin: 111px 0 234px 0;
    &.active{
        .block-1{
            &__description {
                animation: show-text 2s linear forwards;
                @keyframes show-text{
                    0%{
                        opacity: 0;
                    }
                    50%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }
            }
            &__title-block{
                p{
                    animation: toptobottom 1s linear forwards;
                    @keyframes toptobottom {
                        0%{
                            transform: translateY(-100%)
                        }
                        100%{
                            transform: translateY(0)
                        }
                    }
                }
                &:nth-child(2){
                    p{
                        animation-delay: 100ms;
                    }
                }
                &:nth-child(3){
                    p{
                        animation-delay: 200ms;
                    }
                }
                &:nth-child(4){
                    p{
                        animation-delay: 300ms;
                    }
                }
            }
            &__gradient-circle{
                animation-name: flick;
                animation-duration: 500ms;
                animation-timing-function: linear;
                animation-delay: 500ms;
                animation-iteration-count: 3;
                animation-fill-mode: forwards;
                animation-direction: alternate;
                @keyframes flick {
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__content {
        position: relative;
        max-width: 700px;
    }

    &__title {
        position: relative;
        z-index: 2;
        margin: 0 0 24px 0;
        display: flex;
        flex-direction: column;
        &.title-mob{
            display: none;
        }
    }
    
    &__title-block{
        overflow: hidden;
        p{
            white-space: nowrap;
            transform: translateY(100px);
            span{
                color: $orange;
            }
        }
        &:first-child{
            p{
                text-indent: 63px;
            }
        }
    }

    &__description {
        position: relative;
        z-index: 2;
        max-width: 483px;
        margin: 24px 0 34px 80px;
        opacity: 0;
        p{
            strong{
                font-weight: 700;
                color: $white;
            }
        }
    }

    &__btn {
        margin: 34px 0 0 0;
    }

    &__lottie{
        position: absolute;
        top: 158px;
        right: -582px;
        width: 2054px;
        height: 994px;
        canvas{
            width: 100%!important;
            height: 100%!important;
        }
        @media(max-width: 1679px){
            right: -387px;
            width: 1421px;
            height: 756px;
        }
    }

    &__gradient-circle{
        opacity: 0;
        top: 190px;
        left: 1px;
    }
    @media(max-width: 1439px){
        margin: 40px 0 100px 0;
        &__lottie{
            top: 92px;
            right: -275px;
            width: 1054px;
            height: 559px;
        }
    }
    @media (max-width: 1023px) {
        &__content{
            margin: 0 auto;
        }
        &__description{
            max-width: 700px;
            margin: 32px 0 0 0;
        }
        &__btn{
            margin: 32px 0 0 0;
        }
    }
    @media(max-width: 767px){
        margin: 247px 0 136px 0;
        height: 100%;
        &__lottie{
            top: 86px;
            right: -166px;
            width: 580px;
            height: 276px;
        }
    }
    @media(max-width: 474px){
        &__title{
            display: none;
            &.title-mob{
                display: block;
            }
        }
        &__title-block{
            &:first-child{
                p{
                    text-indent: 36px;
                }
            }
        }
    }
    @media(max-width: 359px){
        &__btn{
            a{
                font-size: 12px;
            }
        }
    }
}
