.block-5 {
    margin: 200px 0;
    &__content {
        max-width: 680px;
        background: $white;
        padding: 120px 112px;
        border-radius: 250px;
        margin: 0 auto;
        transition: 800ms;
    }

    &.active{
        .block-5{
            &__content{
                max-width: 100%;
                border-radius: 20px;
            }

            &__title-block{
                p{
                    animation: toptobottom 1s linear 500ms forwards;
                    @keyframes toptobottom {
                        0%{
                            transform: translateY(-100%)
                        }
                        100%{
                            transform: translateY(0)
                        }
                    }
                }
                &:nth-child(2){
                    p{
                        animation-delay: 510ms;
                    }
                }
                &:nth-child(3){
                    p{
                        animation-delay: 520ms;
                    }
                }
            }

            &__column {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &__title {
        margin: 0 0 67px 0;
    }

    &__title-block {
        overflow: hidden;
        span{
            color: $orange;
        }
        p{
			transform: translateY(-100%);
		}
        &:first-child{
            text-indent: 60px;
        }
    }

    &__description {
        position: relative;
        display: flex;
    }
    
    &__column {
        opacity: 0;
        flex: 1 0 50%;
        transition: 1s linear 500ms;
    }

    &__text{
        margin: 0 40px 0 0;
        p{
            max-width: 433px;
            font-size: 17px;
            line-height: 160%;
            color: $grey-800;
            margin: 0 0 13px 0;
            &:last-child{
                margin: 0;
            }
        }
    }

    &__lottie{
        position: absolute;
        bottom: -123px;
        left: -93px;
        width: 614px;
        height: 265px;
    }
    .form {
        max-width: 528px;
        margin: 0 0 0 auto;
        &__title{
            margin: 0 0 32px 0;
        }
    
        &__inputs-group {
            margin: 0 0 16px 0;
            label{
                span{
                    color: $orange;
                    text-decoration: underline;
                }
            }
            &.top{
                display: flex;
                justify-content: space-between;
                .form{
                    &__inputs{
                        flex: 0 1 256px;
                        &:first-child{
                            margin: 0 16px 0 0;
                        }
                    }
                }
            }
        }

        &__switch-button {
            display: flex;
            p{
                margin: 0 0 0 8px;
                font-size: 13px;
                line-height: 120%;
                color: $grey-600;
                a{
                    color: $orange;
                    text-decoration: underline;
                }
            }
        }

        &__checkbox {
            display: none;
        }

        &__label {
            cursor: pointer;
            flex: 0 0 16px;
            height: 16px;
            border-radius: 5px;
            border: 2px solid $orange;
        }

        &__checkbox:checked + .form{
            &__label{
                background: $orange;
                background-image: url(../img/check.svg);
                background-size: 10px 7px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &__inputs {
            display: flex;
            flex-direction: column;
            input{
                height: 59px;
                border-radius: 51px;
                border: 1px solid $grey-600;
                padding: 10px 24px;
                width: 100%;
                font-size: 12px;
                color: $grey-800;
                font-weight: 400;
                &::placeholder{
                    color: $grey-600;
                }
                &:focus{
                    border: 1px solid $grey-800;
                }
            }
            label{
                font-size: 12px;
                color: $grey-800;
                margin: 0 0 9px 0;
            }
        }
    
        &__button {
            position: relative;
            font-size: 14px;
            line-height: 120%;
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
            padding: 19px 64px;
            border-radius: 99px;
            margin: 41px 0 0 0;
            span{
                position: relative;
                z-index: 2;
            }
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 99px;
                background: $bg-cta;
            }
            &:after{
                content: '';
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 99px;
                background: $bg-cta-orange;
                transition: 300ms;
            }
            &:hover{
                &:after{
                    opacity: 1;
                }
            }
        }
    }
}
