.block-6 {
    margin: 200px 0;

    &__img {
        max-width: 100%;
        max-height: 525px;
        margin: 64px 0 0 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.2);
            transition: 1s;
        }
        &.active{
            img{
                transform: scale(1);
            }
        }
    }

    .title{
        color: $white;
        span{
            color: $orange;
        }
        &__title-block{
            overflow: hidden;
            &:first-child{
                text-indent: 84px;
            }
        }
    }
}
