.block-1 {
    margin: 111px 0 235px 0;
    &__content {
        max-width: 700px;
    }

    &__title {
        margin: 0 0 24px 0;
        h1{
            text-indent: 63px;
            span{
                color: $orange;
            }
        }
    }

    &__description {
        max-width: 483px;
        margin: 24px 0 34px 80px;
        p{
            span{
                font-weight: 700;
                color: $white;
            }
        }
    }

    &__btn {
        margin: 34px 0 0 0;
    }

    &__lottie{
        position: absolute;
        top: 158px;
        right: -582px;
        width: 2054px;
        height: 994px;
        canvas{
            width: 100%!important;
            height: 100%!important;
        }
        @media(max-width: 1679px){
            right: -387px;
            width: 1421px;
            height: 756px;
        }
    }
}
